
.carrossel {
  box-shadow: 2px 2px 4px #000;
  overflow: hidden;
  width: 100%;
}

.carrossel-iten-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.carrossel-iten-container img {
  object-fit: cover;
  height: 100%;
  width: 100vw;
}

.hidden {
  width: 100%;
  display: none;
}

